
h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-weight: bolder;
}

.row {
  padding: 10px;
}

td {
  margin: 10px;
}

.pizza-form {
    display: inline-block;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
}

#container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
